body {
  margin: 0;
  background-color: var(--purple6); 
}

p,
button,
table{
  font-family: var(--font1);
}

.packages{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  padding: 50px;
}

.package-ditails{
  background-color: var(--purple1);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.images{
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.first-img,
.second-img{
  height: 200px;
}

.second-img-special{
  height: 140px;
  margin-top: 60px;
}

.products-name{
  display: grid;
  grid-template-columns: 400px;
}

.first-product,
.second-product{
  color: gray;
  line-height: 5px;
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 17px;
  
}

.prices{
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
}

.new-price,
.last-price{
  font-size: 18px;
}

.last-price{
  color: gray;
  margin-right: 10px;
}

.button{
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
}
.select-option-button{
  display: block;
  width: 150px;
  height: 40px;
  font-size: 15px;
  margin-top: 20px;
  background-color: var(--purple6);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  transition: opacity 0.1s;
}
.select-option-button:hover{
  opacity:0.5;
}

.optionsPopup{
  display: none;
}

.package-for{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.dataPopup1,
.dataPopup2{
  display: none;
  position: fixed;
  top:35%;
  left:40%;
  background-color: white;
  width: 300px;
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.1);
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 50px;
  border-radius: 15px;
}

.valid-name{
  display: none;
  color:red;
  font-size: 12px;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.submit-button,
.cancle-button{
  display: block;
  margin-top: 20px;
  width: 80px;
  height: 30px;
  font-size: 17px;
  background-color:var(--purple6);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.1s;
}
.submit-button:hover,
.cancle-button:hover{
  opacity:0.5;
}

table{
  border-style: solid;
  border-color: var(--purple1);
  margin-bottom: 40px;
  margin-left: 40px;
  width: 70%;
  font-size: 20px;
}

th{
  color: var(--Light-green1);
  height: 50px;
}

td{
  background-color: var(--purple1);
  padding: 15px;
}

