:root {
    --primary-background-color: #c3e2d3;
    --primary-text-color: #000000;
    --Light-green1: #FFFFFF;
    --Light-green2: #F2FFEB;
    --Light-green3: #2db490;
    --Light-green4: #EAFFE0;
    --Light-green: #E3FFD6;
    --Dark-green1: #D4FFEB;
    --Dark-green2: #ADF4D2;
    --Dark-green3: #A5E1C5;
    --Dark-green: #9ADBBC;
    --Light-blue1: #F5FEFF;
    --Light-blue2: #E8FCFF;
    --Light-blue3: #D3F9FF;
    --Light-blue: #D0F2F7;
    --Dark-blue1: #D4E1FC;
    --Dark-blue2: #BECFF2;
    --Dark-blue3: #AAC1F1;
    --Dark-blue: #9EB2DB;
    --purple1: #F0F3FF;
    --purple2: #E1DCFF;
    --purple3: #BDB2FF;
    --purple4: #7d6ce0;
    --purple5: #836FFF;
    --purple6: #211951;
    --purple7: #7c6bea;
    --purple8: #6e60c4;
    --purple9: #564b9c;
    --font1: "Signika";

    --font2: "Fira Sans";
}

body {
    margin: 0; /* Remove default margins */
}

header {
    background-color: var(--primary-background-color); /* Set the background color of the header */
    padding: 20px 0; /* Add some padding to the top and bottom of the header */
   /* Fixed position to stick to the top of the viewport */
    width: 100%; /* Full width */
    top: 0; /* Stick to the top */
    left: 0;
}

nav {
    display: flex;
    justify-content: space-between; /* Align the logo and navbar items at opposite ends */
    align-items: center;
    height: 50px;
}

.navbar {
    list-style-type: none; /* Remove the default list style */
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 50px; /* Add spacing between navbar items */
    font-size: 28px;
    font-family: "Signika";
    position: relative; /* Position relative for pseudo-element */
}

.navbar li:last-child {
    margin-right: 0; /* Remove margin from the last navbar item */
}

.navbar a {
    text-decoration: none;
    color: black; /* Set the color of the navbar links */
    position: relative;
    transition: color 0.3s ease;
}
.navbar a:hover {
    color: var(--purple9); /* Change color on hover */
}

/* Underline animation */
.navbar a::before {
    content: ''; /* Add content for pseudo-element */
    position: absolute;
    bottom: -2px; /* Position the pseudo-element at the bottom */
    left: 0; /* Start from the left */
    width: 0; /* Initially set width to 0 */
    height: 2px; /* Thickness of the underline */
    background-color: var(--purple9);/* Color of the underline */
    transition: width 0.3s ease; /* Smooth transition for width */
}

.navbar a:hover::before {
    width: 100%; /* Expand width to 100% on hover */
}


.theme-selector select {
  color: black;
  text-decoration: none;
  font-size: 25px;
  padding: 15px 50px 15px 15px;
  margin-left: 80px;
  height: 60px;
  background-color: var(--purple1);
  font-family: var(--font2);
  border-radius: 5px;
  border: 1px gray solid;
  text-align: left;
}

.p{
    font-family: arial;
  }
  
  .packages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 75px;
    background-color: var(--Dark-green);
  }
  
  
  .package-ditails{
    background-color: var(--Dark-green1);
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 75px;
    margin-bottom: 50px;
    border-radius: 10px;
  }
  
  .images{
    display: flex;
    width: 300px;
    justify-content: left;
    align-items: center;
  }
  
  .first-img,
  .second-img{
    height: 200px;
  }
  
  .second-img-special{
    height: 140px;
    margin-top: 60px;
  }
  
  .products-name{
    display: grid;
    grid-template-columns: 300px;
  }
  
  .first-product,
  .second-product{
    color: gray;
    line-height: 5px;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 17px;
    
  }
  
  .prices{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
  }
  
  .new-price,
  .last-price{
    font-size: 18px;
  }
  
  .last-price{
    color: gray;
    margin-right: 10px;
  }
  
  .button{
    display: flex;
    width: 230px;
    align-items: center;
    justify-content: center;
  }
  .select-option-button{
    display: block;
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin-top: 20px;
    background-color: rgb(11, 95, 74);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    transition: opacity 0.1s;
  }
  .select-option-button:hover{
    opacity:0.5;
  }
  
  .optionsPopup{
    display: none;
  }
  
  .package-for{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .dataPopup1,
  .dataPopup2{
    display: none;
    position: fixed;
    top:35%;
    left:40%;
    background-color: white;
    width: 300px;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.1);
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
    border-radius: 15px;
  }
  
  .buttons{
    display: flex;
    justify-content: space-between;
  }
  
  .submit-button,
  .cancle-button{
    display: block;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 17px;
    background-color:rgb(11, 95, 74);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.1s;
  }
  .submit-button:hover,
  .cancle-button:hover{
    opacity:0.5;
  }



footer {
    background-color: var(--primary-background-color);
    color: black;
    font-family: var(--font2);
    text-align: center;
    padding: 10px 0;
  
    bottom: 0;
    width: 100%;
}
