body {
        font-family: lugrasimo, Arial, Helvetica, sans-serif
        background-color: #fcf1f1;
        color: #fff;
        margin: 0;
 
    }
.container {
        background: #9ec8b9;
        width: 1000px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px #363434;
        z-index: 1000;
    }
    h2 {
        color: #fceaea;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-group label {
        display: block;
        margin-bottom: 5px;
    }
    .form-group input, .form-group select {
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #1b4242;
        background: #5c8374;
        color: #080808;
    }
    .form-group input[type="submit"] {
        background-color: #555;
        border-color: #333;
        color: white;
        cursor: pointer;
    }
    .form-group input[type="submit"]:hover {
        background-color: #666;
    }
    img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .membership-info {
        margin-bottom: 15px;
    }
    .price {
        margin-bottom: 10px;
        font-weight: bold;
    }
    .details {
        margin-left: 20px;
    }
    .membership-type {
        font-size: 40px;
        margin-bottom: 10px;
    } 
