
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-requirements {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

p {
    color: red;
}

.password-requirements ul {
    list-style-type: none;
    padding-left: 20px;
}

.password-requirements li {
    margin-bottom: 5px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}
footer {
    background-color: var(--purple6);
    font-family: var(--font1);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
