:root {
    --primary-background-color: #D4FFEB;
    --primary-text-color: #000000;
    --Light-green1: #FFFFFF;
    --Light-green2: #F2FFEB;
    --Light-green3: #EAFFE0;
    --Light-green: #E3FFD6;
    --Dark-green1: #D4FFEB;
    --Dark-green2: #dbf7cc;
    --Dark-green3: #30551b;
    --Dark-green: #2db490;
    --Light-blue1: #F5FEFF;
    --Light-blue2: #E8FCFF;
    --Light-blue3: #D3F9FF;
    --Light-blue: #D0F2F7;
    --Dark-blue1: #D4E1FC;
    --Dark-blue2: #BECFF2;
    --Dark-blue3: #AAC1F1;
    --Dark-blue: #9EB2DB;
    --purple1: #E1DCFF;
    --purple2: #BDB2FF;
    --purple3: #A090FF;
    --purple4: #362c73;
    --purple: #211951;
    --font1: "Signika";
    --font2: "Fira Sans";
}

/* body {
    margin: 0;
} */



header {
    background-color: var(--purple1);

    padding: 20px 0;

    position: fixed;

    width: 100%;

    top: 0;

    left: 0;

    z-index: 1000;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    list-style-type: none;

    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 50px;

    font-size: 28px;
    font-family: "Signika";
    position: relative;

}

.navbar li:last-child {
    margin-right: 0;

}

.navbar a {
    text-decoration: none;
    color: black;

    position: relative;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: var(--Dark-green);

}


.navbar a::before {
    content: '';

    position: absolute;
    bottom: -2px;

    left: 0;

    width: 0;

    height: 2px;

    background-color: var(--Dark-green);

    transition: width 0.3s ease;

}

.navbar a:hover::before {
    width: 100%;

}


.theme-selector select {
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 15px 50px 15px 15px;
    margin-left: 80px;
    height: 60px;
    background-color: var(--purple1);
    font-family: var(--font2);
    border-radius: 5px;
    border: 1px gray solid;
    text-align: left;
}










.wrapper {
    max-width: 75%;
    margin: auto;
    font-family: "Signika";
    font-size: 35px;

}

.wrapper p,
h1 {
    text-align: center;
    margin-top: 120px;
}

.wrapper h1 {
    letter-spacing: 3px;
}

.accordion {
    background-color: var(--purple4);
    color: white;
    cursor: pointer;
    padding: 40px 25px;
    width: 1839px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
    display: flex;
    justify-self: space-between;
    align-items: center;
    font-weight: bold;
    font-family:  "Signika";
}

.accordion i {
    font-size: 1.6rem;
}

.active,
.accordion:hover {
    background-color: var(--purple);
}

.pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: aliceblue;
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: none;

}

.pannel p {
    color: black;
    font-size: 1.2rem;
    line-height: 1.4;
    height: 50%;
    font-family: "Signika";
}

.faq {
    border: 1px solid #b29595;
    margin-top: 30px;
}

.faq.active {
    border: none;
}


footer {
    background-color: var(--purple);
    color: white;
    font-family: var(--font1);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
